### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Check Data
* Using the .head() method on the purchase_data dataframe

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
total_players = len(purchase_data['SN'].unique())
total_players_data = pd.DataFrame({'Total Players':[total_players]})
total_players_data

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
num_unq_items = len(purchase_data['Item ID'].unique())
avg_price = '${}'.format(round(purchase_data['Price'].mean(), 2))
num_purchases = purchase_data['Purchase ID'].count()
tot_rev = '${}'.format(round(purchase_data['Price'].sum(), 2))

summary_data = pd.DataFrame({'Number of Unique Items':[num_unq_items], 'Average Price':[avg_price],
                            'Number of Purchases':[num_purchases], 'Total Revenue':[tot_rev]})
summary_data

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
gender_demo = purchase_data.groupby(['Gender']).agg({'SN':'nunique'}).rename(columns = {'SN':'Total Count'})
gender_demo['Percentage of Players'] = round(gender_demo['Total Count'] / total_players * 100, 2).astype(str) + '%'
gender_demo

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
gender_purchasing_analysis = purchase_data.groupby(['Gender']).agg({'Item ID':'count', 'Price':{'sum', 'mean'}})
gender_purchasing_analysis['Avg Total Purchase Per Person'] = '$' + round(gender_purhasing_analysis['Price']['sum'] / gender_demo['Total Count'], 2).astype(str)
gender_purchasing_analysis

                      Item ID    Price           Avg Total Purchase Per Person
                        count      sum      mean
Gender
Female                    113   361.94  3.203009                         $4.47
Male                      652  1967.64  3.017853                         $4.07
Other / Non-Disclosed      15    50.19  3.346000                         $4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [62]:
age_bins = pd.cut(purchase_data['Age'], bins=[1, 9, 14, 19, 24, 29, 34, 39, 200], 
                  labels=['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'])
age_summary = purchase_data.groupby(age_bins).agg({'SN':'nunique'}).rename(columns={'SN':'Total Count'})
age_summary['Percentage of Players'] = age_summary['Total Count'] / total_players * 100

age_summary

       Total Count  Percentage of Players
Age
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [65]:
age_purchasing_analysis = purchase_data.groupby(age_bins).agg({'Item ID':'count', 'Price':{'sum', 'mean'}})
age_purchasing_analysis['Avg Total Purchase Per Person'] = '$' + round(age_purchasing_analysis['Price']['sum'] / age_summary['Total Count'], 2).astype(str)
age_purchasing_analysis

      Item ID    Price           Avg Total Purchase Per Person
        count      sum      mean
Age
<10        23    77.13  3.353478                         $4.54
10-14      28    82.78  2.956429                         $3.76
15-19     136   412.89  3.035956                         $3.86
20-24     365  1114.06  3.052219                         $4.32
25-29     101   293.00  2.900990                         $3.81
30-34      73   214.00  2.931507                         $4.12
35-39      41   147.67  3.601707                         $4.76
40+        13    38.24  2.941538                         $3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [80]:
purchase_data.groupby('SN').agg({'Item ID':'count', 'Price':{'sum', 'mean'}}).sort_values(('Price', 'sum'), ascending=False)

            Item ID  Price
              count    sum      mean
SN
Lisosia93         5  18.96  3.792000
Idastidru52       4  15.45  3.862500
Chamjask73        3  13.83  4.610000
Iral74            4  13.62  3.405000
Iskadarya95       3  13.10  4.366667
...             ...    ...       ...
Ililsasya43       1   1.02  1.020000
Irilis75          1   1.02  1.020000
Aidai61           1   1.01  1.010000
Chanirra79        1   1.01  1.010000
Alo38             1   1.00  1.000000

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [96]:
purchase_data.groupby(['Item ID', 'Item Name']).agg({'Item ID':'count', 'Price':'sum'}).sort_values(('Item Name'), ascending=False)

                                         Item ID  Price
Item ID Item Name
114     Yearning Mageblade                     5  19.10
74      Yearning Crusher                       3  12.54
112     Worldbreaker                           4  10.40
179     Wolf, Promise of the Moonwalker        6  26.88
60      Wolf                                   8  28.32
...                                          ...    ...
79      Alpha, Oath of Zeal                    3  12.15
130     Alpha                                  3   6.21
120     Agatha                                 6  18.48
137     Aetherius, Boon of the Blessed         5  16.95
162     Abyssal Shard                          5  13.35

[179 rows x 2 columns]

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [97]:
purchase_data.groupby(['Item ID', 'Item Name']).agg({'Item ID':'count', 'Price':'sum'}).sort_values(('Item Name'), ascending=False)

                                         Item ID  Price
Item ID Item Name
114     Yearning Mageblade                     5  19.10
74      Yearning Crusher                       3  12.54
112     Worldbreaker                           4  10.40
179     Wolf, Promise of the Moonwalker        6  26.88
60      Wolf                                   8  28.32
...                                          ...    ...
79      Alpha, Oath of Zeal                    3  12.15
130     Alpha                                  3   6.21
120     Agatha                                 6  18.48
137     Aetherius, Boon of the Blessed         5  16.95
162     Abyssal Shard                          5  13.35

[179 rows x 2 columns]